extends base.pug

block scripts
  script(src='index.js')

block style
    style
        include style.css


block content 
    //- hr
    div#aboutcontainer
      h1 Services 
      div.aboutbox#abox1
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus possimus impedit perspiciatis saepe consectetur laboriosam aspernatur reprehenderit doloribus repudiandae recusandae tenetur accusamus aperiam soluta voluptatibus libero ipsam voluptate harum, fuga quidem nobis illum quam, cum placeat! Fugit magni corrupti, qui laborum, enim ad, optio officia accusantium dolor in quisquam porro?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque cum enim officia reprehenderit veritatis voluptatem eius amet eveniet quasi, quo consectetur, doloremque cupiditate. Qui velit, fuga iste quia nobis harum blanditiis quisquam minima quo odit veniam, nihil deleniti hic sapiente corrupti nisi voluptate eligendi possimus, voluptas doloremque? Delectus amet illo, at quaerat officiis maxime accusamus!
        <img src="/static/—Pngtree—cool hip-hop dance_4180818.png" alt="danceimage">
      div.aboutbox#abox2
        <img src="/static/kisspng-dance-studio-zumba-fitness-centre-free-zumba-cliparts-5a8726ffd73309.3909518715188067838815.png" alt="danceimage">
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus possimus impedit perspiciatis saepe consectetur laboriosam aspernatur reprehenderit doloribus repudiandae recusandae tenetur accusamus aperiam soluta voluptatibus libero ipsam voluptate harum, fuga quidem nobis illum quam, cum placeat! Fugit magni corrupti, qui laborum, enim ad, optio officia accusantium dolor in quisquam porro?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque cum enim officia reprehenderit veritatis voluptatem eius amet eveniet quasi, quo consectetur, doloremque cupiditate. Qui velit, fuga iste quia nobis harum blanditiis quisquam minima quo odit veniam, nihil deleniti hic sapiente corrupti nisi voluptate eligendi possimus, voluptas doloremque? Delectus amet illo, at quaerat officiis maxime accusamus!
      div.aboutbox#abox3
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus possimus impedit perspiciatis saepe consectetur laboriosam aspernatur reprehenderit doloribus repudiandae recusandae tenetur accusamus aperiam soluta voluptatibus libero ipsam voluptate harum, fuga quidem nobis illum quam, cum placeat! Fugit magni corrupti, qui laborum, enim ad, optio officia accusantium dolor in quisquam porro?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque cum enim officia reprehenderit veritatis voluptatem eius amet eveniet quasi, quo consectetur, doloremque cupiditate. Qui velit, fuga iste quia nobis harum blanditiis quisquam minima quo odit veniam, nihil deleniti hic sapiente corrupti nisi voluptate eligendi possimus, voluptas doloremque? Delectus amet illo, at quaerat officiis maxime accusamus!
        <img src="/static/kisspng-ballroom-dance-swing-dance-studio-latin-dance-dancers-5ab84b6c0e2922.798895621522027372058.png" alt="danceimage">