.contactcontainer{
    background-color: rgb(38, 2, 2);
    height: 86.22vh;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input{
    width: 33%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
.form button{
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 6px 6px 3px #000000;
    font-family: 'Lobster', cursive;

}
.form button:hover{
    background-color: rgb(255, 167, 214);
    
}
